/*
styles.css
Gtihubcode filter styles
Version 1.0
Build date: 2025.12.06
Author: Marcin Kowalski
*/

/* global styles for githubcode filter */

code.githubcode {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 13px;
    line-height: 1.4em;
    white-space: pre;
    display: block;
    padding: 10px;
    margin-bottom: 1em;
    counter-reset: line;
}

code.githubcode span.line {
    white-space: pre;
}

code.githubcode span.line::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 3em;
    margin-right: 1em;
    color: #888;
    text-align: right;
}

.githubcode-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    padding: 4px 8px;
    font-family: sans-serif;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
}

.githubcode-header .title {
    font-weight: bold;
    color: #333;
}

.githubcode-header .language {
    font-style: italic;
    color: #666;
}


/* syntax highlighting styles */

code.githubcode span.comment {
    color: #697070;
}
code.githubcode span.string {
    color: #d14;
}

code.githubcode span.keyword-lv1 {
    color: #008000;
    font-weight: bold;
}

code.githubcode span.keyword-lv2 {
    color: #0f0080;
    font-weight: bold;
}

code.githubcode span.keyword-lv3 {
    color: #803300;
    font-weight: bold;
}

code.githubcode span.keyword-lv4 {
    color: #800057;
    font-weight: bold;
}
code.githubcode span.dec-number {
    color: #bd0e0e;
    font-weight: bold;
}


/* dark style */
/* blue style */
/* light style */

